h2.text-center Welcome!
nav.clearfix
    ul.nav.nav-pills.nav-justified.col-md-6
        li(role="presentation"): a(href="/") Home
        li(role="presentation"): a(href="/api/chat") Chat
        li(role="presentation"): a(href="/api/register") Register