doctype html
html
    head
        include layouts/head
    body
        div.container.wrapper
            header
                include layouts/nav
            section
                div#main.row
                    include layouts/home

        footer.container
            include layouts/footer