doctype html
html
    head
        include layouts/head
    body
        div.container.wrapper
            header
                include layouts/nav
            section
                div#main.row
                    div.alert.alert-danger :( Page not found

        footer.container
            include layouts/footer