doctype html
html
    head
        include layouts/head
    body
        div.container.wrapper
            header
                include layouts/nav
            section
                div#main.row
                    div.alert.alert-danger.text-center= 'Sorry :( ' + error.status + ': ' + error.message

        footer.container
            include layouts/footer